body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-break: break-all;
}
body {
    background-color: #777C68;
}

.container {
    display: inline-block;
    width: 800px;
    margin-left: calc( (100% - 800px) / 2);
    margin-top: 100px;
    
}

.left-column {
    width: 40%;
    float: left;
    background-color: blue;

}
.right-column {
    width: 60%;
    padding: 60px;
    float: left;
    background-color: #fff;

}
.close {
    
}
form {
    display: inline-block;
    width: 100%;  
}

form > .form-row {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

form > .form-row:nth-of-type(4) {
    margin-bottom: 60px; 
}

form > .form-row:last-of-type {
    margin-bottom: 0px; 
}

form > .form-row > label {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
    color: #ccc; 

}
form > .form-row > input {
    display: inline-block;
    width: 100%; 
    font-size: 20px;
    line-height: 30px;
    border: none;
    border-bottom: 2px solid #ccc;
}


}
form > .form-row > p {
    float: left;

}
form > .form-row > button {
    float: left;
    padding: 5px;
    padding-left: 27px;
    padding-right: 27px;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    color: #fff;
    background-color: #00CC66;
    border: none;
    cursor: pointer;
}
form > .form-row > span {
    float: left;
    padding: 5px;
    margin-left: 15px;
    margin-right: 10px;
    font-size: 17px;
    line-height: 22 px;
    color: #ccc;
}
form > .form-row > a {
    float: left;
    padding: 5px;
    font-size: 17px;
    font-weight: bold;
    line-height: 22px;
    text-decoration: none;
    color: #00CC66;

}


